<?xml version="1.0" encoding="UTF-8"?><suite name="Suite" parallel="tests">
  <listners>
    <listner class-name="Utilities.TestListener"/>
  </listners>
  <test name="IphoneXS">
    <parameter name="selenium.deviceName" value="IphoneXS"/>
    <parameter name="selenium.PlatformName" value="iPhone"/>
    <parameter name="selenium.PlatformVersion" value="XS"/>
    <classes>
      <class name="testcases.TestCases">
        <methods>
          <exclude name="MOB_TC12180_verify_Brokerage_AccountDetails"/>
          <include name="MOB_TC001_LogIntoTreatApp"/>
          <exclude name=""/>
          <exclude name=""/>
          <exclude name=""/>
          <exclude name=""/>
          <exclude name=""/>
          <exclude name=""/>
          <exclude name=""/>
          <exclude name=""/>
          <exclude name=""/>
          <exclude name=""/>
        </methods>
      </class>
    </classes>
  </test>
</suite>
